/venv/
/.idea/
/djangoHM/djangoHM/__pycache__/
/djangoHM/myapp/__pycache__/
/djangoHM/db.sqlite3/
/djangoHM/myapp/templatetags/__pycache__/
/djangoHM/myapp/migrations/
/djangoHM/blogapp/migrations/
/djangoHM/blogapp/__pycache__/
